certifi==2020.12.5
Click==7.0
colorama==0.4.4
Flask==1.1.2
importlib-metadata==3.7.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
neobolt==1.7.17
neotime==1.7.4
prettytable==2.1.0
prompt-toolkit==2.0.10
py2neo==4.3.0
pyahocorasick==1.4.0
pyecharts==1.9.0
Pygments==2.3.1
#python-Levenshtein
pytz==2021.1
simplejson==3.17.2
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.24.3
wcwidth==0.2.5
Werkzeug==1.0.1
wincertstore==0.2
zipp==3.4.1
